*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    min-height: 100vh;
    background-color: #ddd;

}

.card{
    width: 400px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #aaa;
}

.card__img{
    position: relative;   
}

.card__date{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    left: 85%;
    top: 5px;
    text-align: center;
    padding-top: 4px;
    color: aliceblue;

}

.card__photo{
    width: 60;
    height: 20;
    background-color: orangered;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;

}

.card__NY{
    height: 240px;

}

.card__title{
    margin-left: 3.5rem;
}

.card_slogan{
    margin-left: 3.5rem;
    color: rgb(192, 38, 11);
}

.card_feed{
    display: inline-flex;
    margin-top: 80px;
}

.card__li{
    margin-left: 1.5rem;
}

.card__info:hover{
    transform: translateY(20px);
    cursor: pointer;

}




